<div class="img_carousel">
	<!-- Sliding img carousel goes here-->
	<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
		<ul class="orbit-container">
			<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			<button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
			<li class="is-active orbit-slide">
				<%= image_tag('orbit/01.jpg', class: "orbit-image") %>
				<!-- <img class="orbit-image" src="assets/orbit/01.jpg" alt="01"> -->
				<figcaption class="orbit-caption">Hon. John Doe at the Church Fundraiser</figcaption>
			</li>
			<li class="orbit-slide">
				<%= image_tag('orbit/02.jpg', class: "orbit-image") %>
				<!-- <img class="orbit-image" src="assets/orbit/02.jpg" alt="02"> -->
				<figcaption class="orbit-caption">During the meeting with Russian Delegates.</figcaption>
			</li>
			<li class="orbit-slide">
				<%= image_tag('orbit/03.jpg', class: "orbit-image") %>
				<!-- <img class="orbit-image" src="assets/orbit/03.jpg" alt="03"> -->
				<figcaption class="orbit-caption">Opening Primary Schools in Rural Kenya</figcaption>
			</li>
			<li class="orbit-slide">
				<%= image_tag('orbit/04.jpg', class: "orbit-image") %>
				<!-- <img class="orbit-image" src="assets/orbit/04.jpg" alt="04"> -->
				<figcaption class="orbit-caption">Visitin A Children's Home</figcaption>
			</li>
		</ul>
		<nav class="orbit-bullets">
			<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
			<button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
			<button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
			<button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
		</nav>
	</div>
</div>
<div class="content_home">
	<div id="vision">
		<h4><center>VISION</center></h4>	
		<!-- Doesn't use the faker gem -->
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et tincidunt nulla. Integer cursus tortor massa. Aliquam orci velit, dapibus sit amet purus a, ultricies vestibulum quam. Nulla sapien erat, porta quis sapien ac, gravida vestibulum magna. Morbi eget elit vulputate, tincidunt arcu eu, elementum sapien. Curabitur nec massa ligula. Vestibulum eget tempor erat. Quisque sit amet enim nibh. Mauris justo purus, suscipit vitae metus non, fringilla viverra turpis. Maecenas dapibus at neque ac scelerisque. Quisque iaculis dignissim sapien, nec imperdiet lectus. Maecenas consectetur velit ipsum, eu placerat ex commodo sed. Vivamus pulvinar convallis nunc, tristique egestas est egestas vel. Donec imperdiet mi sit amet mi maximus tincidunt. Nam placerat diam leo. Nulla at tincidunt mauris.
		</p>
		<p>
			Mauris id est leo. Nulla facilisi. Donec id leo at nisi gravida malesuada sed sit amet augue. Nunc odio enim, dapibus ac mauris quis, congue dignissim odio. Aliquam erat libero, commodo ac turpis consectetur, pulvinar consequat odio. Pellentesque ut placerat dui. Vivamus vestibulum lacus sed rutrum gravida. In eget massa vitae ex euismod accumsan ut consectetur turpis. Praesent molestie augue eu nibh fermentum, vitae vestibulum libero hendrerit. In lacinia enim neque, eu fringilla enim scelerisque et. Quisque viverra nisi ut urna volutpat gravida sit amet mattis ex. Fusce nec tellus vel massa vehicula mollis sed id risus. Quisque molestie augue est, quis rutrum est tincidunt et. Mauris eu convallis massa. In vel tortor at ante vehicula ultricies sit amet at lectus.
		</p>
		<p>
			Praesent vitae semper arcu, a maximus orci. Vivamus ac luctus magna. Ut ut elit euismod, volutpat tortor rutrum, vestibulum metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In aliquet aliquet odio non ultricies. Phasellus pretium urna sit amet eros aliquam hendrerit. Nullam luctus et eros in volutpat. Proin vitae leo egestas, tincidunt turpis sed, consequat nisi. Quisque quis nisi magna. Vivamus condimentum vel ante non elementum. Cras eu lacus at justo pulvinar euismod. Nulla sed viverra metus. 
		</p>
	</div>
	<div id="press_coverage">
		<!-- Can be coded better -->
		<h4><center>PRESS COVERAGE</center></h4>
		<div class="articles_list">
			<article>
				<h5>Inflammatio denego necessitatibus caelestis autus illum.</h5>
				<p>
					<!-- Author -->
					By Tyshawn Johns Sr.
					<!-- Company -->
					Spacer News
					<!-- Date -->
					2014-09-18 12:30:59 -0700
				</p>	
			</article>
			<article>
				<h5>Inflammatio denego necessitatibus caelestis autus illum.</h5>
				<p>
					<!-- Author -->
					By Tyshawn Johns Sr.
					<!-- Company -->
					Spacer News
					<!-- Date -->
					2014-09-18 12:30:59 -0700
				</p>	
			</article>
			<article>
				<h5>Inflammatio denego necessitatibus caelestis autus illum.</h5>
				<p>
					<!-- Author -->
					By Tyshawn Johns Sr.
					<!-- Company -->
					Spacer News
					<!-- Date -->
					2014-09-18 12:30:59 -0700
				</p>	
			</article>
		</div>
		<div>
			<center>VIEW MORE</center>	
		</div>
	</div>
	<div id="lets_get_social">
		<center>LETS GET SOCIAL</center>

	</div>
</div>