// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orbit-image {
	height: 530px;
}
#vision, #lets_get_social {
	margin: 0 100px 0 100px;
}
.social_media_icon {
	height: 50px;
	margin: 30px 100px 30px 100px;	
}
#press_coverage {
	background: #DFDFDF;
}
.top-bar-right li{
	font-family: 'Exo 2', sans-serif;
	width: 180px;
	text-align: center;
	border-left: 1px solid black;
}