<div class="top-bar">
    <div class="top-bar-left">
        <li class="menu-text"><%= image_tag('logo.svg') %><%= link_to "JOHN DOE", root_url %></li>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
        	<li>HOME</li>
			<li>BIOGRAPHY</li>
			<li>MANIFESTO</li>
        </ul>
    </div>
</div>
